 *{margin: 0 auto;padding: 0;font-family: 'Montserrat', sans-serif;}
 body{

	font-weight: 400;
	background-image: linear-gradient(rgba(0,0,0,0.5) 1px, transparent 0),linear-gradient(90deg ,rgba(0,0,0,0.5) 1px, transparent 0);
    background-size: 25px 25px;
 }
 input{
 	width: 100px;
 	height:30px;
 	font-size: 30px;
 	outline: none;
 	border: 2px solid lightblue;
 	margin:0px 15px 15px 15px ;

 	text-align: center;
 }
button{
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	outline: none;
	text-decoration: none;
	background-color:rgb(200,100,50);
	color: white;
	font-size: 30px;
	width: 150px;
	height: 60px;
	line-height: 60px;
	border: none;
	transition: width 1s;
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	cursor: pointer;

}
button:hover {
	width: 250px;
	background-color:rgb(180,80,30);

}
.container,.frame{
	text-align: center; 
	margin-top: 20px;
}
.col{
	width: 15vw;
	height: 50vh;
	margin: 1vw;
	padding: 2vw; 
	display: inline-block;
}
.select{
	background-color: pink;
}
.head{
	width: 10vw;
	height: 10vw;
	border-radius: 50%; 
}
.body{height:15vw; }
.text{width: 15vw;height: 3vw;font-size: 3vw;}
#underweight>.head{background-color: lightblue;}
#healthy>.head{background-color: lightgreen;}
#overweight>.head{background-color: orange;}
#obese>.head{background-color: red;}
 
#underweight>.body{background-color: lightblue;width: 5vw;border-radius:40% 40% 10% 10%; } 
#healthy>.body{background-color: lightgreen;width: 8vw;border-radius:50% 50% 10% 10%; }
#overweight>.body{background-color: orange;width: 10vw;border-radius:50% 50% 20% 20%; }
#obese>.body{background-color: red;width: 12vw;border-radius:50% 50% 30% 30%; }

#underweight:hover{background-color:white;}
#healthy:hover{background-color:white;}
#overweight:hover{background-color:white;}
#obese:hover{background-color:white;}
 